In [4]:
import pandas as pd
df = pd.read_json (r'C:\Users\MEPI\Desktop\LAU\Springg 2021\CSC491\Resume Extraction Project\Resume.json',lines=True)
df.to_csv (r'dataframe.csv', index = None)

In [5]:
df

,content,annotation
0,Govardhana K\nSenior Software Engineer\n\nBeng...,"[{'label': ['Companies worked at'], 'points': ..."
1,"Harini Komaravelli\nTest Analyst at Oracle, Hy...","[{'label': ['Companies worked at'], 'points': ..."
2,Hartej Kathuria\nData Analyst Intern - Oracle ...,"[{'label': ['Skills'], 'points': [{'start': 22..."
3,Ijas Nizamuddin\nAssociate Consultant - State ...,"[{'label': ['Skills'], 'points': [{'start': 46..."
4,"Imgeeyaul Ansari\njava developer\n\nPune, Maha...","[{'label': ['Skills'], 'points': [{'start': 18..."
...,...,...
195,"Mansi Thanki\nStudent\n\nJamnagar, Gujarat - E...","[{'label': ['College Name'], 'points': [{'star..."
196,Anil Kumar\nMicrosoft Azure (Basic Management)...,"[{'label': ['Location'], 'points': [{'start': ..."
197,Siddharth Choudhary\nMicrosoft Office Suite - ...,"[{'label': ['Skills'], 'points': [{'start': 78..."
198,Valarmathi Dhandapani\nInvestment Banking Oper...,"[{'label': ['Skills'], 'points': [{'start': 92..."
199,Pradeep Kumar\nSecurity Analyst in Infosys - C...,"[{'label': ['Skills'], 'points': [{'start': 58..."

In [8]:
import os
os.path.getsize(r'C:\Users\MEPI\Desktop\LAU\Springg 2021\CSC491\Resume Extraction Project\Resume.json')

1106139

In [12]:
df.iloc[0]['annotation']

[{'label': ['Companies worked at'],
  'points': [{'start': 1749, 'end': 1754, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 1696, 'end': 1701, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 1417, 'end': 1422, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'start': 1356,
    'end': 1792,
    'text': 'Languages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 1209, 'end': 1214, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'start': 1136,
    'end': 1247,
    'text': 'APEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 928, 'end': 931, 'text': '2012'}]},
 {'label': ['College Name'],
  'points': [{'start': 858,
    'end': 888,
    'text': 'Adithya Institute of Technology'}]},
 {'label': ['Degree'],
  'points': [{'start': 821,
    'end': 855,
    'text': 'B.E in Computer Science Engineering'}]},
 {'label': ['Graduation Year'],
  'points': [{'start': 787, 'end': 790, 'text': '2012'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 744, 'end': 749, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 722, 'end': 741, 'text': 'Associate Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 658, 'end': 663, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 640, 'end': 655, 'text': 'Staff Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 574, 'end': 579, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'start': 555, 'end': 572, 'text': 'Senior Consultant\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 470, 'end': 492, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Designation'],
  'points': [{'start': 444,
    'end': 468,
    'text': 'Senior Software Engineer\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 308, 'end': 313, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 234, 'end': 239, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'start': 175, 'end': 197, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Email Address'],
  'points': [{'start': 93,
    'end': 136,
    'text': 'indeed.com/r/Govardhana-K/\nb2de315d95905b68\n'}]},
 {'label': ['Location'],
  'points': [{'start': 39, 'end': 47, 'text': 'Bengaluru'}]},
 {'label': ['Designation'],
  'points': [{'start': 13, 'end': 37, 'text': 'Senior Software Engineer\n'}]},
 {'label': ['Name'],
  'points': [{'start': 0, 'end': 11, 'text': 'Govardhana K'}]}]

In [14]:
df.iloc[0]['content']

'Govardhana K\nSenior Software Engineer\n\nBengaluru, Karnataka, Karnataka - Email me on Indeed: indeed.com/r/Govardhana-K/\nb2de315d95905b68\n\nTotal IT experience 5 Years 6 Months\nCloud Lending Solutions INC 4 Month • Salesforce Developer\nOracle 5 Years 2 Month • Core Java Developer\nLanguages Core Java, Go Lang\nOracle PL-SQL programming,\nSales Force Developer with APEX.\n\nDesignations & Promotions\n\nWilling to relocate: Anywhere\n\nWORK EXPERIENCE\n\nSenior Software Engineer\n\nCloud Lending Solutions -  Bangalore, Karnataka -\n\nJanuary 2018 to Present\n\nPresent\n\nSenior Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2016 to December 2017\n\nStaff Consultant\n\nOracle -  Bangalore, Karnataka -\n\nJanuary 2014 to October 2016\n\nAssociate Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2012 to December 2013\n\nEDUCATION\n\nB.E in Computer Science Engineering\n\nAdithya Institute of Technology -  Tamil Nadu\n\nSeptember 2008 to June 2012\n\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\n\n\nSKILLS\n\nAPEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n\nLINKS\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nADDITIONAL INFORMATION\n\nTechnical Proficiency:\n\nLanguages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'